$footer_height: 60px;

div#content_footer_buffer {
    height: $footer_height;
}

div#content_footer {
    position         : absolute;
    bottom           : 0px;
    margin-left      : $div_body_padding * -1 - 5px;
    padding-left     : 20px;
    font-size        : 13px;
    line-height      : 13px;
    background-color : #333;
    color            : lightgray;

    p {
        display        : table-cell;
        vertical-align : middle;
        height         : $footer_height;
        padding-right  : 40px;

        a {
            text-decoration : none;
            color           : ghostwhite;

            &:hover {
                text-decoration : underline;
                color           : yellow;
            }
        }
    }
}

@media print {
    div#content_footer_buffer {
        display: none;
    }

    div#content_footer {
        display: none;
    }
}
