h1#home_page_title {
    margin-top    : $div_body_padding * -1;
    margin-left   : $div_body_padding * -1 - 5px;
    margin-right  : $div_body_padding * -1;
    margin-bottom : 18px;

    width  : calc( 100vw + #{ $div_body_padding * 2 } - 40px );
    height : 400px;

    background-image    : url( graphics/quizzing_header_background.jpg );
    background-repeat   : no-repeat;
    background-size     : cover;
    background-position : 0px calc( 100vw / -3 + 200px );

    border-bottom: 1px solid black;

    @media screen and (max-width: 650px) {
        margin-top          : $div_body_padding * -1 - 15px;
        background-position : 0px 0px;
    }

    text-align     : center;
    color          : white;
    text-transform : uppercase;
    font-family    : normal;

    span {
        &.home_page_title_pnw {
            display        : block;
            font-size      : 41px;
            line-height    : 41px;
            padding-top    : 120px;
            padding-left   : 20px;
            letter-spacing : 23px;
        }

        &.home_page_title_bq {
            display        : block;
            font-size      : 100px;
            line-height    : 100px;
            letter-spacing : 3px;
        }

        &.home_page_title_quizzing {
            font-family : bold;
        }
    }

    @media screen and (max-width: 890px) {
        span {
            display: block;

            &.home_page_title_pnw {
                padding-top: 50px;
            }
        }
    }

    @media screen and (max-width: 540px) {
        span {
            &.home_page_title_pnw {
                font-size      : 35px;
                line-height    : 35px;
                padding-top    : 90px;
                letter-spacing : 11px;
            }

            &.home_page_title_bq {
                font-size      : 70px;
                line-height    : 70px;
            }
        }
    }
}

div#home_page_nav {
    h2 {
        margin-top    : 24px;
        border-top    : 1px dashed lightgray;
        padding-top   : 8px;
        font-size     : 24px;
        margin-bottom : 12px;
    }

    div {
        display        : inline-block;
        vertical-align : top;
        margin         : 10px;

        a {
            display          : table-cell;
            text-align       : center;
            vertical-align   : middle;
            width            : 250px;
            height           : 100px;
            padding          : 0px 10px 0px 10px;
            text-decoration  : none;
            font-size        : 16px;
            color            : white;
            background-color : #48a0a2;

            &:hover {
                color           : yellow;
                filter          : brightness(115%);
                text-decoration : underline;
            }
        }
    }
}
