<title>New user registration: [% realname || username %]</title>

<p>A new user has just completed registration.</p>

<ul>
    <li>Username: <b>[% username %]</b></li>
    <li>Real Name: <b>[% realname %]</b></li>
    <li>Email: <b>[% email %]</b></li>
</ul>
