<title>Password reset request initiated</title>

<p>Greetings [% realname %],</p>

<p>
    A password reset request was initiated on the <b>[% username %]</b> account.
    If this was not initiated by you, just ignore this email. If it was initiated by you,
    then follow this link:
</p>

<p><a href="[% url %]">[% url %]</a></p>
