/* line 1, config/assets/sass/reset.scss */
html {
  color: #000000;
  background: #ffffff;
  margin: 0;
  padding: 0; }

/* line 8, config/assets/sass/reset.scss */
html, body, div,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code, img,
form, fieldset, legend, input, textarea,
p, blockquote, th, td {
  margin: 0;
  padding: 0; }

/* line 18, config/assets/sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 23, config/assets/sass/reset.scss */
fieldset, img {
  border: 0; }

/* line 27, config/assets/sass/reset.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

/* line 32, config/assets/sass/reset.scss */
li {
  list-style: none; }

/* line 36, config/assets/sass/reset.scss */
caption,
th {
  text-align: left; }

/* line 41, config/assets/sass/reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

/* line 46, config/assets/sass/reset.scss */
q:before,
q:after {
  content: ''; }

/* line 51, config/assets/sass/reset.scss */
abbr, acronym {
  border: 0;
  font-variant: normal; }

/* line 56, config/assets/sass/reset.scss */
sup {
  vertical-align: text-top; }

/* line 60, config/assets/sass/reset.scss */
sub {
  vertical-align: text-bottom; }

/* line 64, config/assets/sass/reset.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

/* line 70, config/assets/sass/reset.scss */
*:first-child + html input, * html input,
*:first-child + html textarea, * html textarea,
*:first-child + html select, * html select {
  font-size: 100%; }

/* line 76, config/assets/sass/reset.scss */
legend {
  color: #000000; }

/* line 80, config/assets/sass/reset.scss */
del, ins {
  text-decoration: none; }

/* line 1, config/assets/sass/base.scss */
html {
  margin: 1em; }

/* line 5, config/assets/sass/base.scss */
h1 {
  font-size: 138.5%; }

/* line 9, config/assets/sass/base.scss */
h2 {
  font-size: 123.1%; }

/* line 13, config/assets/sass/base.scss */
h3 {
  font-size: 108%; }

/* line 17, config/assets/sass/base.scss */
h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold; }

/* line 21, config/assets/sass/base.scss */
abbr, acronym {
  border-bottom: 1px dotted #000000;
  cursor: help; }

/* line 26, config/assets/sass/base.scss */
em {
  font-style: italic; }

/* line 30, config/assets/sass/base.scss */
del {
  text-decoration: line-through; }

/* line 34, config/assets/sass/base.scss */
blockquote, ul, ol, dl {
  margin: 1em; }

/* line 38, config/assets/sass/base.scss */
ol, ul, dl {
  margin-left: 2em; }

/* line 42, config/assets/sass/base.scss */
ol li {
  list-style: decimal outside; }

/* line 46, config/assets/sass/base.scss */
ul li {
  list-style: disc outside; }

/* line 50, config/assets/sass/base.scss */
dl dd {
  margin-left: 1em; }

/* line 54, config/assets/sass/base.scss */
th, td {
  border: 1px solid #000000;
  padding: 0.5em; }

/* line 59, config/assets/sass/base.scss */
th {
  font-weight: bold;
  text-align: center; }

/* line 64, config/assets/sass/base.scss */
caption {
  margin-bottom: 0.5em;
  text-align: center; }

/* line 69, config/assets/sass/base.scss */
p, fieldset, table, pre {
  margin-bottom: 1em; }

/* line 73, config/assets/sass/base.scss */
input[type=text], input[type=password], textarea {
  width: 12.25em; }

/* line 77, config/assets/sass/base.scss */
*:first-child + html input[type=text], * html input[type=text],
*:first-child + html input[type=password], * html input[type=password],
*:first-child + html textarea, * html textarea {
  width: 11.9em; }

@font-face {
  font-family: normal;
  src: url(../../fonts/Roboto/Roboto-Regular.ttf?version=1) format("truetype"); }

@font-face {
  font-family: medium;
  src: url(../../fonts/Roboto/Roboto-Medium.ttf?version=1) format("truetype"); }

@font-face {
  font-family: bold;
  src: url(../../fonts/Roboto/Roboto-Bold.ttf?version=1) format("truetype"); }

/* line 16, config/assets/sass/fonts.scss */
h1, h2, h3, b {
  font-family: bold;
  font-weight: normal; }

/* line 21, config/assets/sass/fonts.scss */
body, input, button, select {
  font-family: normal, sans-serif;
  font-size: 12.9px; }

/* line 26, config/assets/sass/fonts.scss */
h1 {
  font-size: 27px; }

/* line 30, config/assets/sass/fonts.scss */
h2 {
  font-size: 20px; }

/* line 34, config/assets/sass/fonts.scss */
h3 {
  font-size: 16px; }

/* line 38, config/assets/sass/fonts.scss */
dl dt {
  font-family: bold;
  font-weight: normal; }

/* line 43, config/assets/sass/fonts.scss */
table {
  font-size: inherit; }

/* line 47, config/assets/sass/fonts.scss */
pre, code, kbd, samp, tt {
  font-family: monospace;
  line-height: 100%; }

/* line 52, config/assets/sass/fonts.scss */
*:first-child + html pre, * html pre,
*:first-child + html code, * html code,
*:first-child + html kbd, * html kbd,
*:first-child + html samp, * html samp,
*:first-child + html tt, * html tt {
  font-size: 108%; }

/* line 4, config/assets/sass/forms.scss */
form fieldset {
  border: 1px solid silver;
  display: inline-block;
  padding: 10px; }
  /* line 9, config/assets/sass/forms.scss */
  form fieldset legend {
    border: 1px solid silver;
    background-color: white;
    padding: 0px 3px 0px 3px; }
  /* line 15, config/assets/sass/forms.scss */
  form fieldset label {
    display: block;
    text-align: right; }
  /* line 20, config/assets/sass/forms.scss */
  form fieldset select,
  form fieldset textarea,
  form fieldset input[type="text"],
  form fieldset input[type="password"] {
    margin-top: 1px;
    margin-bottom: 1px; }

/* line 30, config/assets/sass/forms.scss */
input[type="text"],
input[type="password"] {
  padding-left: 3px; }

/* line 35, config/assets/sass/forms.scss */
select,
textarea,
input[type="text"],
input[type="password"] {
  border: 1px solid lightgray;
  padding: 1px 3px 1px 3px; }
  /* line 42, config/assets/sass/forms.scss */
  select:hover,
  textarea:hover,
  input[type="text"]:hover,
  input[type="password"]:hover {
    border-color: gray; }

/* line 47, config/assets/sass/forms.scss */
button,
input[type="submit"],
input[type="reset"] {
  border: 1px solid #999999;
  background-color: #e0e0e0;
  padding: 1px 10px 1px 10px;
  margin: 3px 0px 0px 0px; }
  /* line 55, config/assets/sass/forms.scss */
  button:hover:enabled,
  input[type="submit"]:hover:enabled,
  input[type="reset"]:hover:enabled {
    border: 1px solid blue;
    background-color: #eeeeee; }
  /* line 60, config/assets/sass/forms.scss */
  button:disabled,
  input[type="submit"]:disabled,
  input[type="reset"]:disabled {
    background-color: lightgray; }

/* line 65, config/assets/sass/forms.scss */
select[size] option {
  margin: 0px;
  padding: 0px 0px 0px 2px; }

/* line 4, config/assets/sass/page_layout.scss */
html body div#nav, html body div#content {
  height: calc( 100vh - 64px);
  overflow: auto;
  overflow-x: hidden; }

/* line 10, config/assets/sass/page_layout.scss */
html {
  margin: 0; }
  /* line 13, config/assets/sass/page_layout.scss */
  html body {
    display: grid;
    grid-template-rows: 44px auto;
    grid-template-columns: 200px auto;
    grid-template-areas: "header header" "nav content";
    min-width: 350px; }
    /* line 21, config/assets/sass/page_layout.scss */
    html body div#header {
      grid-area: header;
      background-color: black;
      color: white; }
      /* line 26, config/assets/sass/page_layout.scss */
      html body div#header div#header_title {
        display: inline-block;
        font-size: 20px;
        margin: 10px 0px 10px 10px; }
        /* line 31, config/assets/sass/page_layout.scss */
        html body div#header div#header_title span.header_title_short {
          display: none; }
        @media screen and (max-width: 650px) {
          /* line 36, config/assets/sass/page_layout.scss */
          html body div#header div#header_title span.header_title_long {
            display: none; }
          /* line 39, config/assets/sass/page_layout.scss */
          html body div#header div#header_title span.header_title_short {
            display: inline; } }
        @media screen and (max-width: 530px) {
          /* line 45, config/assets/sass/page_layout.scss */
          html body div#header div#header_title span.header_title_mission {
            display: none; } }
        @media screen and (max-width: 400px) {
          /* line 51, config/assets/sass/page_layout.scss */
          html body div#header div#header_title span.header_title_short {
            display: none; } }
      /* line 57, config/assets/sass/page_layout.scss */
      html body div#header div#header_user {
        float: right;
        margin: 10px 10px 10px 0px; }
        /* line 62, config/assets/sass/page_layout.scss */
        html body div#header div#header_user form input[type="text"],
        html body div#header div#header_user form input[type="password"] {
          width: 100px;
          border: 1px solid white; }
          /* line 67, config/assets/sass/page_layout.scss */
          html body div#header div#header_user form input[type="text"]:hover,
          html body div#header div#header_user form input[type="password"]:hover {
            border-color: yellow; }
        /* line 72, config/assets/sass/page_layout.scss */
        html body div#header div#header_user form input[type="submit"] {
          border: 1px solid #e0e0e0; }
          /* line 75, config/assets/sass/page_layout.scss */
          html body div#header div#header_user form input[type="submit"]:hover:enabled {
            border-color: yellow;
            background-color: #eeeeee; }
        /* line 82, config/assets/sass/page_layout.scss */
        html body div#header div#header_user p {
          margin-top: 5px; }
        /* line 86, config/assets/sass/page_layout.scss */
        html body div#header div#header_user a {
          color: bisque; }
          /* line 89, config/assets/sass/page_layout.scss */
          html body div#header div#header_user a:hover {
            color: yellow; }
    /* line 96, config/assets/sass/page_layout.scss */
    html body div#nav {
      grid-area: nav;
      padding: 10px;
      background-color: darkslategray;
      color: lightgray; }
      /* line 103, config/assets/sass/page_layout.scss */
      html body div#nav ul {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 15px; }
        /* line 108, config/assets/sass/page_layout.scss */
        html body div#nav ul li {
          padding: 2px 0px 2px 0px; }
          /* line 111, config/assets/sass/page_layout.scss */
          html body div#nav ul li a {
            color: bisque; }
            /* line 114, config/assets/sass/page_layout.scss */
            html body div#nav ul li a:hover {
              color: yellow; }
    /* line 122, config/assets/sass/page_layout.scss */
    html body div#message {
      position: absolute;
      top: 39px;
      width: 50%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      border: 2px solid black;
      padding: 5px;
      background-color: white;
      font-family: bold;
      padding-right: 20px; }
      /* line 136, config/assets/sass/page_layout.scss */
      html body div#message a {
        color: inherit;
        position: absolute;
        top: 0px;
        right: 0px;
        text-decoration: none;
        padding: 0px 2px 0px 2px;
        border: 2px solid;
        margin: -2px -2px 0px 0px; }
      /* line 147, config/assets/sass/page_layout.scss */
      html body div#message.error {
        border-color: red;
        color: red; }
      /* line 152, config/assets/sass/page_layout.scss */
      html body div#message.success {
        border-color: green;
        color: green; }
    /* line 158, config/assets/sass/page_layout.scss */
    html body div#content {
      grid-area: content;
      padding: 10px;
      background-color: ghostwhite; }
