table,
table th,
table td {
    border          : 1px solid silver;
    padding         : 0px;
    border-spacing  : 0px;
    border-collapse : collapse;
}

table {
    th {
        background-color : lightgray;
        color            : black;
        padding          : 2px 5px 2px 5px;
        font-size        : 14px;
        text-align       : left;
        font-family      : bold;
        font-weight      : normal;
    }

    td {
        background-color : white;
        color            : black;
        padding          : 1px 3px 1px 3px;
        font-size        : 14px;
    }

    th.right, td.right {
        text-align: right;
    }

    th.center, td.center {
        text-align: center;
    }

    tr.red td {
        background-color: #fcc;
    }

    tr.green td {
        background-color: #cfc;
    }

    tr.blue td {
        background-color: #ccf;
    }
}
