$header_height    : 44px;
$div_body_padding : 20px;
$nav_width        : 200px;
$min_width        : 365px;

html {
    body {
        display               : grid;
        grid-template-rows    : $header_height auto;
        grid-template-columns : $nav_width auto;
        grid-template-areas   : "header header" "nav content";

        @media (max-width: 650px) {
            grid-template-areas: "header header" "content content";
        }

        min-width: $min_width;

        div#header {
            grid-area : header;

            div#header_title {
                span.header_title_short {
                    display: none;
                }

                @media (max-width: 665px) {
                    span.header_title_long {
                        display: none;
                    }
                    span.header_title_short {
                        display: inline;
                    }
                }

                @media (max-width: 550px) {
                    span.header_title_mission {
                        display: none;
                    }
                }

                @media (max-width: 417px) {
                    span.header_title_short {
                        display: none;
                    }
                }
            }
        }

        div#nav {
            overflow-x : hidden;
            overflow-y : auto;
            max-height : calc( 100vh - #{ $header_height + $div_body_padding * 2 } );

            grid-area        : nav;
            padding          : $div_body_padding;
            background-color : darkslategray;
            color            : lightgray;

            @media (max-width: 650px) {
                display: none;
            }
        }

        @import 'components/nav_toggle';
        @import 'components/message';

        div#content {
            overflow-x : hidden;
            overflow-y : auto;
            min-height : calc( 100vh - #{ $header_height + $div_body_padding * 2 } );

            grid-area: content;
            @import 'components/content';
        }

        @media (max-width: 650px) {
            div#content {
                padding-top : 35px;
                min-height  : calc( 100vh - #{ $header_height + $div_body_padding * 2 } - 15px );
            }
        }
    }

    body.no_nav {
        grid-template-areas: "header header" "content content";

        div#nav {
            display: none;
        }
    }

    @media print {
        body {
            display: inherit !important;

            div#header {
                display: none;
            }

            div#nav {
                display: none;
            }

            div#content {
                min-height: inherit !important;
            }
        }
    }
}

@import 'page_style';
