$header_height    : 44px;
$div_body_padding : 20px;
$nav_width        : 200px;

%div_body_scroller {
    height     : calc( 100vh - #{ $header_height + $div_body_padding * 2 } );
    overflow   : auto;
    overflow-x : hidden;
}

html {
    body {
        display               : grid;
        grid-template-rows    : $header_height auto;
        grid-template-columns : $nav_width auto;
        grid-template-areas   : "header header" "nav content";

        @media screen and (max-width: 650px) {
            grid-template-areas: "header header" "content content";
        }

        min-width: 350px;

        div#header {
            grid-area : header;

            div#header_title {
                span.header_title_short {
                    display: none;
                }

                @media screen and (max-width: 650px) {
                    span.header_title_long {
                        display: none;
                    }
                    span.header_title_short {
                        display: inline;
                    }
                }

                @media screen and (max-width: 530px) {
                    span.header_title_mission {
                        display: none;
                    }
                }

                @media screen and (max-width: 400px) {
                    span.header_title_short {
                        display: none;
                    }
                }
            }
        }

        div#nav {
            @extend %div_body_scroller;

            grid-area        : nav;
            padding          : $div_body_padding;
            background-color : darkslategray;
            color            : lightgray;

            @media screen and (max-width: 650px) {
                display: none;
            }
        }

        @import 'components/nav_toggle.scss';
        @import 'components/message.scss';

        div#content {
            @extend %div_body_scroller;

            grid-area        : content;
            padding          : $div_body_padding;
            background-color : ghostwhite;

            @import 'components/content.scss';
        }

        @media screen and (max-width: 650px) {
            div#content {
                padding-top : 35px;
                height      : calc( 100vh - #{ $header_height + $div_body_padding * 2 } - 25px );
            }
        }
    }

    body.no_nav {
        grid-template-areas: "header header" "content content";

        div#nav {
            display: none;
        }
    }
}

@import 'page_style.scss';
