%a_menu_current {
    a {
        color           : bisque;
        text-decoration : none;

        &.current {
            color           : orange;
            text-decoration : underline;
        }

        &:hover {
            color           : yellow;
            text-decoration : underline;
        }
    }
}

html {
    margin: 0;

    body {
        div#header {
            background-color : black;
            color            : white;

            div#header_title {
                display   : inline-block;
                font-size : 20px;
                margin    : 10px 0px 10px 10px;
            }

            a {
                text-decoration : none;
                color           : inherit;

                &:hover {
                    text-decoration : underline;
                    color           : yellow;
                }
            }

            div#header_user {
                @extend %a_menu_current;

                float  : right;
                margin : 0px 10px 10px 0px;

                i#search_icon {
                    display        : inline-block;
                    margin-right   : 5px;
                    margin-top     : 16px;
                    vertical-align : top;

                    &:hover {
                        color: yellow;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }

                form#search_form {
                    display: none;
                }

                form {
                    display    : inline-block;
                    margin-top : 10px;

                    input[type="text"],
                    input[type="password"] {
                        width  : 100px;
                        border : 1px solid white;

                        &:hover {
                            border-color: yellow;
                        }
                    }

                    input[type="submit"] {
                        border: 1px solid #e0e0e0;

                        &:hover:enabled {
                            border-color     : yellow;
                            background-color : #eeeeee;
                        }
                    }
                }

                p {
                    display     : inline-block;
                    margin-top  : 7px;
                    margin-left : 5px;
                }
            }
        }

        div#nav {
            ul {
                margin-top    : 0px;
                margin-bottom : 0px;
                margin-left   : 15px;

                li {
                    @extend %a_menu_current;
                    padding: 5px 0px 0px 0px;
                }
            }

            & > ul {
                margin-top    : -8px;
                margin-bottom : 35px;
                margin-left   : 10px;
                margin-right  : -30px;
            }

            ul li { list-style-type: disc }
            ul ul li { list-style-type: circle }
            ul ul ul li { list-style-type: square }
            ul ul ul ul li { list-style-type: disc }

            div#nav_footer {
                display          : block;
                background-color : #264040;
                position         : fixed;
                left             : 0px;
                bottom           : 0px;
                width            : $nav_width;
                height           : 20px;

                @extend %a_menu_current;

                a {
                    display     : inline-block;
                    color       : lightgray;
                    margin-top  : 3px;
                    margin-left : 3px;
                }
            }
        }
    }
}

.hover_expand {
    font-size: 120%;
    margin-top: -1em;
}

.hover_expand:hover {
    font-size: 200%;
    margin-left: -0.2em;
    margin-right: -0.2em;
}

[v-cloak] > * {
    display: none;
}

[v-cloak]::before {
    display: block;
    content: " ";
    width: 16px;
    height: 16px;
    background-image: url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
}
