& {
    position         : relative;
    background-color : ghostwhite;
    font-size        : 14px;
    line-height      : 150%;
    padding          : $div_body_padding;
    padding-left     : 25px;
}

h1 { margin-left: -10px }
h2 { margin-left: -8px }
h3 { margin-left: -6px }
h4 { margin-left: -4px }
h5 { margin-left: -2px }

h1 { margin-bottom: 20px }

pre, code {
    border           : 1px solid #e0e0e0;
    background-color : #f0f0f0;
}

code {
    padding-left  : 2px;
    padding-right : 2px;
    font-size     : 15px;
}

pre > code {
    border           : none;
    background-color : transparent;
    padding-left     : 0px;
    padding-right    : 0px;
    font-size        : 13px;
    line-height      : 18px;
}

pre {
    padding: 5px 8px 5px 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

blockquote {
    margin-left: 20px;
    margin-right: 20px;
    font-style: italic;
}

ul {
    margin-top: 0px;
}

li > ul,
li > ol {
    margin-bottom: 0px;
}

dl {
    margin-left: 0px;
}

dt {
    margin-top: 1em;
}

dd {
    margin-left: 1em;
}

img#header_photo {
    float: right;
    max-width: 40%;
    max-height: 40%;
    margin-left: 15px;
    margin-right: 0px;
    border: 1px solid black;
}

@import 'content/hash_tool';
@import 'content/home_page';
@import 'content/content_footer';

@media print {
    & {
        background-color: transparent;
    }

    .no_print {
        display: none;
    }

    pre, code {
        border           : none;
        background-color : transparent;
    }
}
