& {
    position         : relative;
    background-color : ghostwhite;
    font-size        : 14px;
    line-height      : 150%;
    padding          : $div_body_padding;
    padding-left     : 25px;
}

h1 { margin-left: -10px }
h2 { margin-left: -8px }
h3 { margin-left: -6px }
h4 { margin-left: -4px }
h5 { margin-left: -2px }

pre, code {
    border           : 1px solid #e0e0e0;
    background-color : #f0f0f0;
    padding-left     : 2px;
    padding-right    : 2px;
    font-size        : 16px;
}

ul {
    margin-top: 0px;
}

li > ul,
li > ol {
    margin-bottom: 0px;
}

@import 'content/hash_tool';
@import 'content/home_page';
@import 'content/content_footer';

@media print {
    & {
        background-color: transparent;
    }

    .no_print {
        display: none;
    }

    pre, code {
        border           : none;
        background-color : transparent;
    }
}
