input#message_toggle {
    display: none;
}

input#message_toggle:checked ~ div#message {
    display: none;
}

div#message {
    position         : absolute;
    top              : $header_height + -5px;
    width            : 50%;
    left             : 0;
    right            : 0;
    margin-left      : auto;
    margin-right     : auto;
    border           : 2px solid black;
    padding          : 5px;
    background-color : white;
    font-family      : bold;
    padding-right    : 20px;
    z-index          : 10;

    label {
        position        : absolute;
        top             : 0px;
        right           : 0px;
        text-decoration : none;
        padding         : 0px 2px 0px 2px;
        border          : 2px solid;
        margin          : -2px -2px 0px 0px;
    }

    label:hover {
        cursor : pointer;
        color  : blue;
    }

    &.error {
        border-color : red;
        color        : red;
    }

    &.success {
        border-color : green;
        color        : green;
    }
}
