input#nav_toggle,
label.nav_toggle {
    display: none;
}

@mixin nav_toggle {
    label.nav_toggle {
        z-index          : 100;
        position         : absolute;
        top              : $header_height;
        left             : 0px;
        display          : block;
        width            : 25px;
        height           : 30px;
        background-color : darkslategray;
        cursor           : pointer;
    }

    label.nav_toggle span {
        display    : block;
        font-size  : 50px;
        margin-top : -20px;
        color      : lightgray;
    }

    label.nav_toggle:hover span {
        color: yellow;
    }

    label.nav_toggle span.close {
        display: none;
    }

    input#nav_toggle:checked ~ label.nav_toggle {
        left: $nav_width;
    }

    input#nav_toggle:checked ~ label.nav_toggle span.close {
        display: block;
    }

    input#nav_toggle:checked ~ label.nav_toggle span.open {
        display: none;
    }

    input#nav_toggle:checked ~ div#nav {
        z-index  : 100;
        position : absolute;
        left     : 0px;
        top      : $header_height;
        display  : block;
        width    : $nav_width - 40px;
        height   : calc( 100vh - #{ $header_height + $div_body_padding * 2 } - 20px );
    }
}

@media (max-width: 650px) {
    @include nav_toggle;
}

&.no_nav {
    @include nav_toggle;
}

@media print {
    input#nav_toggle,
    label.nav_toggle {
        display: none !important;
    }
}
